// Place all the styles related to the phones controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.phone-info-category {
  background-color: #eee;
  size: 1.4em;
  margin: 15px 0px;
}
