<!DOCTYPE html>
<html>
<head>
  <title>Simplexmobility</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="simplexMobility">
  <div class="container-fluid">
      <div class="row">
        <div class="col-md-6" ng-controller="PhoneInfoCtrl">
          <h1>{{ title }}</h1>
          <hr />

          <div class="input-group col-md-12">
              <select class="form-control"
                ng-model="selectedBrand"
                ng-options="brand as brand.title for brand in brands"
                ng-change="fetchPhoneModels()"></select>
          </div>

          <div ng-show="phoneModels.length > 0">
            <div>
              <h2>Models list</h2>
            </div>
            <div class="input-group col-md-12">
              <select class="form-control"
                ng-model="selectedPhoneModel"
                ng-options="phoneModel as phoneModel.title for phoneModel in phoneModels"
                ng-change="fetchPhoneInfo()"></select>
            </div>
          </div>

          <div ng-show="phoneInfo">
            <div>
              <h2>Phone info for <b>{{ phoneInfo.title }}</b></h2>
            </div>
            <div>
              <div ng-repeat="desc in phoneInfo.description">
                <div class="col-md-12 phone-info-category">
                  <b>{{ desc.category }}</b>
                </div>
                <div ng-repeat="subcat in desc.subcats">
                  <div ng-repeat="(key, value) in subcat">
                    <b>{{ key }}</b> : {{ value }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6" ng-controller="SearchPhoneCtrl">
          <h1>{{ title }}</h1>
          <hr />
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." ng-model='searchString'>
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="search()">Search</button>
            </span>
          </div><!-- /input-group -->

          <div ng-show="found_items.length > 0">
            <div ng-repeat="item in found_items" class='col-md-4 search-item'>
              <img src="{{ item.thumbnail }}" width='100px' height='100px' />
              <br />
              <a href="{{item.source}}">{{item.title}}</a>
            </div>
          </div>
        </div>
      </div>
  </div>
</body>
</html>
